* {
  margin: 0 0;
}
body { 
   background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149001486.jpg?w=996&t=st=1686930906~exp=1686931506~hmac=2ce1d377e463b7a0851a3a9ef1af00cf57de4307aa013f1f1ce6c63b11933d68');  
  background-size: 110%;
  width: 100%;
  height: 100%;
}
header {
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
  color: rgb(14, 11, 11);
}
header h1 {
  color: rgb(94, 0, 0);
  text-decoration: underline solid 25px;
  text-align: center;
}
.mid_img {
  position: absolute;
  width: 400px;
  height: 380px;
  top: 20px;
  right: 20px;

}
header nav {
  font-size: medium;
  font-family: cursive;
  color: navy;
  text-align: left;
  text-decoration: solid;
  
}
nav a:visited {
  color: black;
}
nav a:hover {
  color: red;
  background-color: red;
  cursor: pointer;
}
.about1 {
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(26, 37, 72);
  font-size: medium;
  font-family: sans-serif;
}
.lists {
  font-size: large;
  color: blue;
  text-decoration: solid ;
  text-align: left;
}
.lists1 {
  font-size: medium;
  color: rgb(70, 7, 7);
  text-decoration: solid ;
  position: relative;
}
#footer {
  color: antiquewhite;
  font-size: medium;
  font-weight: 100;
}